Delas.Site/Service References/BankServiceReference/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delas.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_GetUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBankName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankName" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBankName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBankService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetUserByLogin" message="tns:IBankService_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetUserByLoginResponse" message="tns:IBankService_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetBankName" message="tns:IBankService_GetBankName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetBankNameResponse" message="tns:IBankService_GetBankName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/AddUser" message="tns:IBankService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/AddUserResponse" message="tns:IBankService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/Save" message="tns:IBankService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/SaveResponse" message="tns:IBankService_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankServiceEndpoint" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankName">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetBankName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBankService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBankService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BankServiceEndpoint" binding="tns:BankServiceEndpoint">
      <soap:address location="http://localhost:23500/BankService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>