Delas.Site/Service References/BankServiceReference/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23500/BankService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delas.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_GetUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBankService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAllAccountsByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsByLogin" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAllAccountsByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountById" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByNumber" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetHistoryByIdAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByIdAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetHistoryByIdAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByIdAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHistory" />
  </wsdl:message>
  <wsdl:message name="IBankService_AddHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetUserByLogin" message="tns:IBankService_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetUserByLoginResponse" message="tns:IBankService_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/AddUser" message="tns:IBankService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/AddUserResponse" message="tns:IBankService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/Save" message="tns:IBankService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/SaveResponse" message="tns:IBankService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAllAccountsByLogin" message="tns:IBankService_GetAllAccountsByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAllAccountsByLoginResponse" message="tns:IBankService_GetAllAccountsByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/DeleteAccount" message="tns:IBankService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/DeleteAccountResponse" message="tns:IBankService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/AddAccount" message="tns:IBankService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/AddAccountResponse" message="tns:IBankService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountById" message="tns:IBankService_GetAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountByIdResponse" message="tns:IBankService_GetAccountById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/UpdateAccount" message="tns:IBankService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/UpdateAccountResponse" message="tns:IBankService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountByNumber" message="tns:IBankService_GetAccountByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountByNumberResponse" message="tns:IBankService_GetAccountByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByIdAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetHistoryByIdAccount" message="tns:IBankService_GetHistoryByIdAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetHistoryByIdAccountResponse" message="tns:IBankService_GetHistoryByIdAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/AddHistory" message="tns:IBankService_AddHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/AddHistoryResponse" message="tns:IBankService_AddHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankServiceEndpoint" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBankService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBankService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsByLogin">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetAllAccountsByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IBankService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IBankService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IBankService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByNumber">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetAccountByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByIdAccount">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetHistoryByIdAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHistory">
      <soap:operation soapAction="http://tempuri.org/IBankService/AddHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BankServiceEndpoint" binding="tns:BankServiceEndpoint">
      <soap:address location="http://localhost:23500/BankService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>