Delas.Site/Service References/BankServiceReference/BankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Delas.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Delas.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSOAP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSOAP" nillable="true" type="tns:UserSOAP" />
  <xs:complexType name="ArrayOfAccountSOAP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSOAP" nillable="true" type="tns:AccountSOAP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSOAP" nillable="true" type="tns:ArrayOfAccountSOAP" />
  <xs:complexType name="AccountSOAP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSOAP" nillable="true" type="tns:AccountSOAP" />
  <xs:complexType name="ArrayOfHistorySOAP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistorySOAP" nillable="true" type="tns:HistorySOAP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorySOAP" nillable="true" type="tns:ArrayOfHistorySOAP" />
  <xs:complexType name="HistorySOAP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAccount" type="xs:int" />
      <xs:element minOccurs="0" name="OperationType" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorySOAP" nillable="true" type="tns:HistorySOAP" />
</xs:schema>